.steps-to-travel {
  margin: 0 900px 0 50px;
  // display: flex;
  // width: 80%;
  // flex-wrap: nowrap;
  // justify-content: space-around;
  // align-items: flex-start;
  // flex-direction: column;
}

.pasos {
  h2 {
    margin: 0 9250px 0 0;
  }
  h3 {
    color:red;
  }
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // width: 100%;
  // flex-wrap: wrap;
  // flex-direction: row;
}
