// Colores primarios
$color-primario: #2B3B53; /*Azul*/
$color-secundario: #47C0B1; /*Verde*/

// Colores secundarios
 $color-tercero: #F48434; /*Naranja*/
$color-cuarto: #48808C;

// Utilidades
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #5A5C5D;

$text-black: black;
$text-gray: #5A5C5D;