/* base */
@import "../scss/base/reset";
@import "../scss/base/typography";
@import "../scss/base/colors";

/* components */
@import "../scss/components/card";
@import "../scss/components/sections";
@import "../scss/components/buttons";
@import "../scss/components/carousel";
@import "../scss/components/accordion";

/* layout */
@import "../scss/layout/header";
@import "../scss/layout/navbar";


/* pages */
@import "../scss/pages/contacto";
@import "../scss/pages/por-donde-empiezo";
@import "../scss/pages/quienes-somos";
@import "../scss/pages/tips-de-viaje";

body {
  font-family: "Ubuntu", sans-serif;
}

main {
  h2 {
    margin: 0 0 0 20px;
  }
}

.bg-naranja{
  background-color: $color-tercero;
  color: $color-cuarto;

}

.bg-negro{
  background-color:  $color-tercero;

}
.card-titulo{
  margin: 0px;
  background-color: red;
  color: darkblue;
  font-size: 75px;
}

p {
  a {
    color: black;
    font-weight: bold;
  }
}


