@charset "UTF-8";
/* base */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Covered+By+Your+Grace&family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tex-Titulo";
  src: url("fonts/juice_it_up/Juice-it-up.ttf") format("truetype"), url("fonts/juice_it_up/Juice-it-up.otf") format("otf"), url("fonts/juice_it_up/Juice-it-up-Italic.ttf") format("truetype"), url("fonts/juice_it_up/Juice-it-up-Italic.otf") format("otf");
}
@font-face {
  font-family: "Tex-Slogan";
  src: url("/fonts/JustTheWayYouAre_0.ttf") format("truetype");
}
/*Azul*/
/*Verde*/
/*Naranja*/ /* components */
.cuadro1 {
  display: flex;
  padding: 20px;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.cuadro1 div {
  padding: 10px;
  margin: 10px;
}

.cuadro1 div h3 {
  margin: 3px 0 3px 0;
  text-align: center;
}

.cuadro1 div p {
  text-align: center;
}

.cuadro2 {
  color: #2e3e5d;
  background-color: cornflowerblue;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  max-height: 250px;
}

/* Estilos generales */
h2, p {
  margin: 0;
  padding: 20px;
  color: #fff;
}

/* Estilos de la sección 1 */
.section-1 {
  width: 100%;
  min-height: 300px;
  padding: 10px 0px 30px 0px;
  background-color: #2B3B53;
}
.section-1 h2 {
  background-color: #47C0B1;
}

/* Estilos de la sección 2 */
.section-2 {
  width: 100%;
  min-height: 400px;
  padding: 10px 0px 30px 0px;
  background-color: #47C0B1;
}
.section-2 h2 {
  background-color: #F48434;
}

/* Estilos de la sección 3 */
.section-3 {
  width: 100%;
  min-height: 500px;
  padding: 10px 0px 30px 0px;
  background-color: #F48434;
}
.section-3 h2 {
  background-color: #48808C;
}

/* Estilos de la sección 4 */
.section-4 {
  width: 100%;
  min-height: 600px;
  background-color: #b80081;
  padding: 10px 0px 30px 0px;
}
.section-4 h2 {
  background-color: #48808C;
}

.section-5 {
  width: 100%;
  min-height: 55dvh;
  background-color: #48808C;
  padding: 10px 0px 30px 0px;
}
.section-5 h2 {
  background-color: #b80081;
}

.portada {
  height: 70vh;
  width: 100%;
  position: relative;
}
.portada img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  text-align: center;
}
.myButton:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.btntex {
  background-color: #F48434;
  color: #48808C;
}

.tex-carrusel {
  max-width: 800px;
  max-height: 400px;
  text-align: center;
}

/* layout */
nav ul {
  /* quitar bullets */
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

main h2 {
  margin: 0 0 0 20px;
}

.seccionColor1 {
  background-color: #47c0b1;
  color: #fff;
  padding: 50px 50px 50px 50px;
}

.seccionColor2 {
  background-color: #2b3b53;
  color: #48808c;
}

.seccionColor3 {
  background-color: #f48434;
  color: #ffffff;
  padding: 50px 50px 50px 50px;
}

.seccionColor4 {
  background-color: #b80081;
  color: #ffffff;
  padding: 50px 50px 50px 50px;
}

.seccionBlanca {
  background-color: white;
  color: black;
  padding: 50px 50px 50px 50px;
}

.viajeX3 {
  background-color: #000000;
  color: #3dbda3;
  padding: 30px;
}

.lugares {
  background-color: white;
  padding: 30px;
}

.bg-naranja {
  background-color: #F48434;
  color: #48808C;
}

p a {
  color: black;
  font-weight: bold;
}

/* PAGINA QUIENES SOMOS*/
.QuienesSomos {
  display: flex;
  margin: 20px 50px 20px 50px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.QuienesSomos h2 {
  margin: 10px;
}
.QuienesSomos p {
  margin: 30px;
}
.QuienesSomos h3 {
  margin: 30 0 0 30px;
}
.QuienesSomos h4 {
  margin: 15px 0 0 40px;
}

.steps-to-travel {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 50px 0 50px;
}

.pasos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
.pasos h2 {
  margin: 0 10px 0 0;
}

.QuienesSomos {
  margin: 0px 0px 0px 0px;
}
.QuienesSomos h2 {
  margin: 10px;
}
.QuienesSomos p {
  margin: 30px;
  text-align: justify;
}
.QuienesSomos h3 {
  margin: 30 0 0 30px;
}
.QuienesSomos h4 {
  margin: 15px 0 0 40px;
}

/*# sourceMappingURL=style.css.map */
