/* base */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Covered+By+Your+Grace&family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} /* components */
.cuadro1 {
  display: flex;
  padding: 20px;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.cuadro1 div {
  padding: 10px;
  margin: 10px;
}

.cuadro1 div h3 {
  margin: 3px 0 3px 0;
  text-align: center;
}

.cuadro1 div p {
  text-align: center;
}

.cuadro2 {
  color: #2e3e5d;
  background-color: cornflowerblue;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  max-height: 250px;
}

/* layout */
nav ul {
  /* quitar bullets */
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

main h2 {
  margin: 0 0 0 20px;
}

/* display: flex; */
#welcome {
  display: flex;
  /* height: 100px; */
  width: auto;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 20px 0;
  background-color: white;
}
#welcome h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
#welcome h2 p {
  text-align: center;
}

#socialnetwork {
  /* width: auto; */
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  /* margin: 20px 0 20px 0; */
  align-content: center;
  background-color: #f58634;
}

.cuadrorrss {
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 80%;
}

#viajeX3 {
  justify-content: center;
  background-color: #2e3e5d;
  color: #3dbda3;
  padding: 30px;
}

#lugares {
  justify-content: center;
  padding: 30px;
}

.marcoimg {
  background-color: #cc9f52;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  max-height: 250px;
}
.marcoimg img {
  max-height: 175px;
  background-color: white;
}

.cuadro1 img {
  display: flex;
  padding: 20px;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  text-align: center;
}
.myButton:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* footer */
.icon {
  width: 50px;
}

.lugaresind {
  max-width: 150px;
}

.cuadroimg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secciontittle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

form {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
form div {
  padding: 10px 0 10px 20px;
}
form legend {
  font-weight: bold;
}

.sexo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

p a {
  color: black;
  font-weight: bold;
}

.seccion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #2e3e5d;
  color: #3dbda3;
  padding: 30px;
}

.seccionBlanca {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #b80081;
  color: #ffffff;
  padding: 30px;
}

.QuienesSomos {
  display: flex;
  margin: 20px 50px 20px 50px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.QuienesSomos h2 {
  margin: 10px;
}
.QuienesSomos p {
  margin: 30px;
}
.QuienesSomos h3 {
  margin: 30 0 0 30px;
}
.QuienesSomos h4 {
  margin: 15px 0 0 40px;
}

.steps-to-travel {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 50px 0 50px;
}

.pasos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
.pasos h2 {
  margin: 0 10px 0 0;
}

/*# sourceMappingURL=style.css.map */
